:root {
  --green-50: #38fba0;
  --green-100: #00b090;
  --green-200: #176549;
  --green-230: #014130;
  --green-250: #002118;
  --white: #fff;
  --blue-link: #6868ff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-250);
  font-family: "Montserrat";
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.espacamento {
  margin-bottom: 7px;
}

/* Animacao de entrada */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Parte da esquerda */
.left-side {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  max-height: 100vh;
}

.aguiaVoandoImg {
  width: 500px;
  margin-top: 60px;
}

.lead {
  font-size: 50px;
  margin: 30px;
  font-weight: bold;
  animation: slideUp 1s ease;
}

.siglaLead {
  font-size: 24px;
  font-weight: bold;
  animation: slideUp 1s ease;
}

/* Parte da direita */
.right-side {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.backgroundImg {
  width: 880px;
  /* object-fit: contain; */
  align-items: right;
  opacity: 0.3;
}

.login-txt {
  position: absolute;
  font-size: 40px;
  top: 145px;
  color: var(--white);
  animation: slideUp 0.8s ease;
}

/* Caixa de login */
.login-box {
  position: relative;
  border: 2px solid var(--green-100);
  border-radius: 15px;
  padding: 30px;
  width: 700px;
  min-height: 55vh;
  color: var(--white);
  box-shadow: 3px 3px var(--green-230);
  position: absolute;
  gap: 20px;
  animation: slideUp 0.8s ease;
}

/* Botoes de Login */
.roles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}

.roles button {
  border-radius: 0;
  width: 130px;
  height: 40px;
  background: var(--green-200);
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: bold;
  margin: 0;
  transition: 0.3s;
}

/* Primeiro botao */
.roles button:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Segundo botao */
.roles button:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.roles button:not(:last-child) {
  border-right: none;
}

.roles button:hover {
  background: var(--white);
  color: var(--black);
  cursor: pointer;
}

/* Labels de email e senha */
.labels {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 40px;
  font-weight: bold;
}

.input-email {
  margin-bottom: 100px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  border-radius: 20px;
  border: 1px solid var(--green-50);
  background: transparent;
  color: var(--white);
  outline: none;
  font-size: 15px;
}

.login-box input::placeholder {
  color: #bbb;
  font-size: 15px;
}

.forgot-password {
  position: absolute;
  text-decoration: none;
  font-size: 14px;
  color: var(--blue-link);
}

.login-btn {
  width: 130px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--green-50);
  background: transparent;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  bottom: 20px;
  left: 40%;
}

.login-btn:hover {
  background: var(--green-50);
  color: var(--black);
}

.create-account {
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  color: var(--white);
  animation: slideUp 1.5s ease;
}

.create-account a {
  color: var(--blue-link);
}
