:root {
  --green-50: #38fba0;
  --green-100: #00b090;
  --green-200: #176549;
  --green-230: #014130;
  --green-250: #002118;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-250);
  font-family: "Montserrat";
}

.espacamento {
  margin-bottom: 7px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Parte da esquerda */
.left-side {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.aguiaVoandoImg {
  width: 500px;
  margin-top: 80px;
}

.lead {
  font-size: 50px;
  margin: 30px;
  font-weight: bold;
}

.siglaLead {
  font-size: 24px;
  font-weight: bold;
}

/* Parte da direita */
.right-side {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.backgroundImg {
  width: 880px;
  /* object-fit: contain; */
  align-items: right;
  opacity: 0.4;
}

/* Caixa de login */
.login-box {
  position: relative;
  border: 2px solid var(--green-100);
  border-radius: 15px;
  padding: 30px;
  width: 800px;
  height: 700px;
  color: white;
  box-shadow: 3px 3px var(--green-230);
  position: absolute;
  gap: 20px;
}

.labels {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 40px;
  font-weight: bold;
}

.input-email {
  margin-bottom: 100px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid var(--green-50);
  background: transparent;
  color: white;
  outline: none;
}

.login-box input::placeholder {
  color: #bbb;
}

.roles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.roles button {
  border-radius: 15px;
  width: 100px;
  height: 40px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 20px;
  border: 1px solid #38fba0;
  background: transparent;
  color: #38fba0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #38fba0;
  color: black;
}
