:root {
  --green-50: #38fba0;
  --green-100: #00b090;
  --green-200: #176549;
  --green-230: #014130;
  --green-250: #002118;
  --white: #fff;
  --blue-link: #6868ff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-250);
  font-family: "Montserrat";
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.espacamento {
  margin-bottom: 7px;
}

/* Animacao de entrada */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.backgroundImg {
  width: 880px;
  /* object-fit: contain; */
  align-items: right;
  opacity: 0.3;
}

.register-txt {
  position: absolute;
  font-size: 40px;
  top: 70px;
  color: var(--white);
  animation: slideUp 0.8s ease;
}

.register-box {
  position: relative;
  border: 2px solid var(--green-100);
  border-radius: 15px;
  padding: 30px;
  width: 600px;
  height: 650px;
  color: var(--white);
  box-shadow: 3px 3px var(--green-230);
  position: absolute;
  gap: 20px;
  animation: slideUp 0.8s ease;
}

.roles button {
  border-radius: 0;
  width: 130px;
  height: 40px;
  background: var(--green-200);
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: bold;
  margin: 0;
  transition: 0.3s;
}

/* Primeiro botao */
.roles button:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Segundo botao */
.roles button:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.roles button:not(:last-child) {
  border-right: none;
}

.roles button:hover {
  background: var(--white);
  color: var(--black);
  cursor: pointer;
}

.labels {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 40px;
  font-weight: bold;
}

.input-email {
  margin-bottom: 100px;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid var(--green-50);
  background: transparent;
  color: var(--white);
  outline: none;
}

.register-box input::placeholder {
  color: #bbb;
  font-size: 15px;
}

/* Faca login */
.do-login {
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  color: var(--white);
  animation: slideUp 1.5s ease;
}

.do-login a {
  color: var(--blue-link);
}

/* Aside da direita */
aside {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.logo-lead {
  width: 480px;
  margin: 50px 0 0 50px;
}
