*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-header: #176549;
    --background-body: #FFFFFF;
    --lead-font-color: #00B090;
    --button-color: #00B090;
    --button-color-hover: #162e23;
}

header{
    height: 10%;
    background-color: var(--background-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vh;
}

img{
    height: 20%;
    width: 20%;
    padding: 0 1vw;
}

